/* tntnet.css */

body {
    padding: 0px;
    margin: 0px;
    background-color: #ABD;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

#logo {
    float: right;
}

#header {
    padding: 10px;
    padding-left: 50px;
    margin: 0px;
    height: 100px;
    background-color: #003687;
    border-bottom: 2px solid #ea7400;
}

#header a {
    font-size: 30px;
    font-weight: bold;
    padding: 15px 0 17px 20px;
    color: white;
    text-decoration: none;
}

#header a:visited {
    color: white;
}

#menu {
    position: absolute;
    top: 120px;
    float: left;
    padding: 10px;
}

.navtop {
    background-color: #003687;
    color: white;
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
}

.navitems {
    background-color: #F0F0F0;
    border: 1px solid #CCC;
}

.navitems a {
    text-decoration: none;
    color: #ea7400;
    margin: 15px;
    font-size: 90%;
}

.navitems a:hover {
    background-color: #C0C0C0;
}

.navitems a:visited {
    color: #ea7400;
}

#content {
    margin: 0px 180px;
    width: auto;
    color: #333;
}

#content pre {
    margin: 10px;
    padding: 5px;
    background-color: #ccc;
    border: 1px solid #ea7400;
}
