/INSTALL
/COPYING
Makefile.in
Makefile
/aclocal.m4
/autom4te.cache/
/config.guess
/config.sub
/configure
/depcomp
/install-sh
/ltmain.sh
/m4/
/missing
/config.log
/config.status
.deps
/libtool
stamp-h1
.dirstamp
*.l[ao]
*.o
.libs
*.swp
lib/config.h
lib/config.h.in
tntnet.xml
