/* tntnet.css */

html {
    overflow-y: scroll;
}

/* Main body */
body {
    color: #404040;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    font-size: 0.9em;
}

/* Main wrap */
#wrap {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    width: 980px;
    height: 100%;
    top: -10px;
    left: 0;
    right: 0;
    min-height: 800px;
}

/* Main header */
#logo {
    height: 60px;
}

#header {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    height: 50px;
    box-shadow: 0 8px 10px -10px black;
}

#header .maintitle {
    position: absolute;
    top: 8px;
    left: 20%;
    font-size: xx-large;
    font-weight: bold;
    text-decoration: none;
    color: #6d6d6d;
}

#header a:visited {
    color: #6d6d6d;
}

#subheader {
    position: absolute;
    top: 45px;
    left: 20%;
    font-size: large;
    font-weight: bold;
    color: #0076ff;
}

/* Main menu */
#menu {
    position: absolute;
    display: block;
    margin-top: 10px;
}

.nav {
    display: block;
    float: none;
    list-style: none;
    background-color: #fff;
    padding-left: 30px;
}

.nav .header {
    color: #0076ff;
    font-weight: bold;
}

.nav li {
}

.nav a {
    text-decoration: none;
    color: #6d6d6d;
    margin: 15px;
}

.nav a:hover {
    background-color: #ddd;
}

.nav a:visited {
    color: #6d6d6d;
}

/* Main content */
#content {
    margin-top: 10px;
    margin-left: 220px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #555;
}

#content pre {
    padding: 8px;
    background-color: #CCDDFF;
    color: #222;
    border: 1px solid #0076ff;
    white-space: pre-wrap;
}

#content a:visited {
    color: #6d6d6d; /*#038;*/
}

.news {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-top: 5px;
}

.news .newsdate {
    font-weight: bold;
}

.news h1 {
    font-size: 120%;
    background-color: #eee;
    color: #0076ff;
    padding: 5px;
}

.news p {
    padding-left: 5px;
}

.apidoc .tablist {
    border-bottom: 1px solid #4076ff;
}

.apidoc .tablist li {
    display: inline-block;
    padding: 5px;
    border: 1px solid #4076ff;
    border-bottom: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.apidoc .tablist a {
    font-weight: bold;
    color: #0076ff;
    text-decoration: none;
}

.apidoc .tablist a:visited span {
    color: #0076ff;
    background-color: #ff0000;
}

.apidoc .tablist .current {
    background-color: #DDEEFF;
}

.title {
    font-size: 120%;
    color: #0076ff;
    padding: 5px;
    font-weight: bold;
}

.memproto {
    border: 1px solid #0076ff;
    border-radius: 6px;
    padding: 3px;
    background-color: #CCDDFF;
}

td.memname {
    color: #0076ff;
    font-weight: bold;
}

.fragment {
    padding: 6px;
    background-color: #F0F0F0;
    color: #222;
    border: 1px solid #4076ff;
    margin-left: 20px;
    margin-bottom: 20px;
    font-family: monospace;
    white-space: pre-wrap;
}

.fragment .line {
    display: inline;
}

footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: right;

}
footer .fmenu {
    text-align: right;
}

@media (max-width: 320px) {
    #logo {
        height: 30px;
    }
    #header .maintitle {
      top: 12px;
      font-size: 14px;
      left: 85px;
    }
    #header {
        height: 30px;
    }
    #subheader {
      left: 85px;
      top: 30px;
      font-size: 10px;
    }

}

@media (min-width: 321px) and (max-width: 512px) {
    #logo {
        height: 40px;
    }
    #header .maintitle {
      top: 12px;
      font-size: 18px;
      left: 110px;
    }
    #header {
        height: 30px;
    }
    #subheader {
      left: 110px;
      top: 35px;
      font-size: 14px;
    }

}

@media (min-width: 513px) and (max-width: 768px) {
    #header .maintitle {
      left: 148px;
    }
    #subheader {
      left: 148px;
    }
}
@media (max-width: 768px) {
    #menu {
      position: static;
      display: inline-block;
    }

    .nav {
      display: inline-block;
      float: left;
    }

    #content {
      margin: 10px 20px;
      position: static;
    }

    #wrap {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #wrap {
        width: 100%;
    }
}
