/* tntnet.css */

html {
    overflow-y: scroll;
}

/* Main body */
body {
    background: #eee;
    color: #404040;
    font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    padding: 0;
    font-size: 0.9em;
}

/* Main wrap */
#wrap {
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    width: 980px;
    height: 100%;
    top: -10px;
    left: 0;
    right: 0;
    min-height: 800px;
}

/* Main header */
#logo {
    height: 100px;
}

#header {
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin: 0px auto;
    height: 90px;
    box-shadow: 0 8px 10px -10px black;
}

#header a {
    position: absolute;
    top: 35px;
    left: 22%;
    font-size: 36px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

#header a:visited {
    color: black;
}

/* Main menu */
#menu {
    position: absolute;
    display: block;
    margin-top: 10px;
}

.nav {
    display: block;
    float: none;
    list-style: none;
    background-color: #fff;
    padding-left: 30px;
}

.nav .header {
    color: #ff7600;
    font-weight: bold;
}

.nav li {
}

.nav a {
    text-decoration: none;
    color: #6d6d6d;
    margin: 15px;
}

.nav a:hover {
    background-color: #ddd;
}

.nav a:visited {
    color: #6d6d6d;
}

/* Main content */
#content {
    margin-top: 10px;
    margin-left: 220px;
    padding-right: 10px;
    padding-bottom: 10px;
    position: relative;
    color: #555;
}

#content pre {
    padding: 8px;
    background-color: #eec;
    color: #222;
    border: 1px solid #ff7600;
    white-space: pre-wrap;
}

#content a:visited {
    color: #6d6d6d; /*#038;*/
}

.news {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    padding-top: 5px;
}

.news .newsdate {
    font-style: italic;
    font-weight: bold;
}

.news h1 {
    font-size: 120%;
    background-color: #eee;
    color: #ff7600;
    padding: 5px;
}

.news p {
    padding-left: 5px;
}

@media (max-width: 768px) {
    #header a {
      left: 150px;
    }
    #menu {
      position: static;
      display: inline-block;
    }

    .nav {
      display: inline-block;
      float: left;
    }

    #content {
      margin: 10px 20px;
      position: static;
    }

    #wrap {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #wrap {
        width: 100%;
    }
}
